<!doctype html>
<html>

<head>
  <title>관리자 페이지</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- 외부 스타일 시트 불러오기 -->
  <link rel="stylesheet" href="/public/css/post.css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
  <!-- 페이지 상단에 위치하는 헤더 -->
  <header class="d-flex justify-content-center py-3" id="nav">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          id="point"
          href="/public/views/user-main.html"
          class="nav-link active"
          aria-current="page"
          >메인페이지</a
        >
    </ul>

    <div class="col-md-3 text-end">
      <button id="admin_logout_btn" type="button" class="btn btn-outline-primary me-2">Logout</button>
    </div>
  </header>
  <div class="banner"></div>

<main>
  <!-- 게시글 페이지 -->
  <div class="main_page">
    <div class="main_title">
      <h1>관리자 페이지</h1>
    </div>
    <div class="tutorCheck">
        <h2>튜터 승인 내역</h2>
        <div>
            <ul class="list-group" id="tutorList"></ul>
        </div>
    </div class="reportCheck">
        <h2>신고내역</h2>
        <div>
            <ul class="list-group" id="reportList"></ul>
        </div>
    <div>

    </div>
    <!-- 게시글 관련 버튼 -->
    <div class="card__inner container gray" id="cardList">
      <button type="button" class="btn btn-dark" id="pastTutor">지난 튜터 요청</button>
      <button type="button" class="btn btn-dark" id="pastReport">지난 신고 내역</button>
    </div>

    <div>
      <h2>최근 일주일 아이디별 신고 누적횟수</h2>
      <canvas id="myChart" width="800" height="300"></canvas>
  </div>
    <div>
        <canvas id="myChart"></canvas>
      </div>
    </main>

    <footer>
      <a href="https://www.youtube.com"><img src="/public/images/유투브아이콘.png" alt="YouTube"></a>
      <a href="https://www.facebook.com"><img src="/public/images/페북아이콘.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/"><img src="/public/images/인스타아이콘.png" alt="insta"></a>
      <a href="https://twitter.com/"><img src="/public/images/트위터 아이콘.png" alt="twitter"></a>
      <!-- 더 많은 아이콘 -->
    </footer>

  <!-- 지난 신고하기 내역 모달 -->
  <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportModalLabel">지난 신고 내역</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <ul class="list-group" id="pastReportList"></ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 지난 튜터권한 요청 내역 모달 -->
  <div class="modal fade" id="tutorModal" tabindex="-1" aria-labelledby="tutorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tutorModalLabel">지난 튜터 신청 내역</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <div>
                    <ul class="list-group" id="pastTutorList"></ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>



  <!-- 필요한 스크립트 파일 불러오기 -->
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/skel.min.js"></script>
  <script src="/public/js/util.js"></script>
  <script type="module" src="/public/js/admin.js"></script>
   <!-- chartjs-->
  
   <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</body>

</html>