<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Woom</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  </head>
  <body>
    <header>
      <h1>chat</h1>
    </header>
    <main>
      <div id="welcome">
        <form>
          <input placeholder="room name" required type="text" />
          <button>Enter Room</button>
        </form>
        <h4>Open Rooms</h4>
        <ul></ul>
      </div>
      <div id="room">
        <h3></h3>
        <ul></ul>
        <form id="name">
          <input placeholder="nickname" required type="text" />
          <button>Save</button>
        </form>
        <form id="msg">
          <input placeholder="message" required type="text" />
          <button>Send</button>
        </form>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
