<!doctype html>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>Theory by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/chat.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <div class="inner" style="color: black">
        <a href="/public/views/user-main.html" class="logo">짧공</a>
        <nav id="nav">
          <a href="/public/views/chat.html">채팅하기</a>
          <a href="/public/views/user-main.html">홈페이지</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <h1>짧은 공부</h1>
      <p>당신 마음대로 채팅이나 해보시져?</p>
    </section>
    <div class="container">
      <div class="user-list">
        <h2>사용자 목록</h2>
        <ul id="user-list">
          <li data-userid="1" data-username="User1" data-status="online">🟢User1</li>
          <li data-userid="2" data-username="User2" data-status="offline">🔴User2</li>
          <li>
            <div class="user-item" data-userid="1" data-username="User1" data-status="online">
              🟢User1
              <button class="user-button">버튼1</button>
              <button class="user-button">버튼2</button>
            </div>
          </li>
        </ul>
        <!-- 여기에 사용자 목록을 동적으로 추가하세요 -->
      </div>
      <div class="chat" id="chat">
        <h2>채팅</h2>
        <div class="chat-box" id="chatBox">
          <!-- 여기에 채팅 내용을 표시하세요 -->
        </div>
        <div class="chat-input">
          <input type="text" id="message" placeholder="메시지를 입력하세요" />
          <button id="send">전송</button>
        </div>
      </div>
    </div>
    <section class="wrapper style1 special">
      <div id="faceChatBtn">
        <button>화상채팅하기</button>
      </div>
    </section>

    <div id="faceChatForm" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>화상채팅 가능한 선생님</h2>
        <div id="tutorList">
          <div class="box person">
            <h3>Magna</h3>
            <button>화상대화하기</button>
            <button>채팅하기</button>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">Site made with: <a href="https://templated.co/">TEMPLATED.CO</a></div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/skel.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/public/js/chat.js"></script>
    <!-- <script src="/public/js/invite.js"></script> -->
  </body>
</html>
