<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noom</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <style>
      /* 추가된 CSS 코드 */
      #myStream {
        position: absolute; /* 절대 위치 */
        top: 0;
        left: 20px;
      }
      #peerFace {
        position: absolute; /* 절대 위치 */
        bottom: 0;
        right: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Noom</h1>
    </header>
    <main>
      <div id="call">
        <div id="myStream">
          <video id="myFace" autoplay playsinline width="200" height="200"></video>
          <button id="mute">Mute</button>
          <button id="camera">Turn Camera Off</button>
          <select id="cameras"></select>
        </div>
        <div>
        <canvas id="sharedCanvas" width="1200" height="700"></canvas>
        <button id="clear">지우기</button>
        </div>
        <video id="peerFace" autoplay playsinline width="200" height="200"></video>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/facechat.js"></script>
    <script src="/public/js/draw.js"></script>
  </body>
</html>
