<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/chat.css" />
    <title>Chat App - Index</title>
  </head>
  <body>
    <div id="infoupdate">
      <h1>email</h1>
      <input type="text" id="email" />
      <h1>password</h1>
      <input type="text" id="password" />
      <h1>confirm password</h1>
      <input typr="text" id = "confirm_password"/>
      <h1>nickname</h1>
      <input typr="text" id = "nickname"/>
      <h1>phone_number</h1>
      <input typr="text" id = "phone_number"/>
      <button type="button" id="infoupdate_btn">update</button>
    </div>
  </body>
  <script src="/public/js/infoupdate.js"></script>
</html>
