<!doctype html>
<html>
  <head>
    <title>회원정보수정</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 외부 스타일 시트 불러오기 -->
    <link rel="stylesheet" href="/public/css/post.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!-- 페이지 상단에 위치하는 헤더 -->
    <header class="d-flex justify-content-center py-3" id="nav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a id="point" href="/public/views/main.html" class="nav-link active" aria-current="page"
            >메인페이지</a
          >
        </li>
        <li class="nav-item">
          <a href="/public/views/userinfo.html" class="nav-link">마이페이지</a>
        </li>
      </ul>

      <div class="col-md-3 text-end">
        <button id="logout" type="button" class="btn btn-outline-primary me-2">Logout</button>
      </div>
    </header>
    <div class="banner"></div>

    <main>
      <div id="infoupdate">
        <h1>email</h1>
        <input type="text" id="email" />
        <h1>password</h1>
        <input type="text" id="password" />
        <h1>confirm password</h1>
        <input typr="text" id="confirm_password" />
        <h1>nickname</h1>
        <input typr="text" id="nickname" />
        <h1>phone_number</h1>
        <input typr="text" id="phone_number" />
        <button type="button" id="infoupdate_btn">update</button>
      </div>
    </main>

    <footer>
      <a href="https://www.youtube.com"
        ><img src="/public/images/유투브아이콘.png" alt="YouTube"
      /></a>
      <a href="https://www.facebook.com"
        ><img src="/public/images/페북아이콘.png" alt="Facebook"
      /></a>
      <a href="https://www.instagram.com/"
        ><img src="/public/images/인스타아이콘.png" alt="insta"
      /></a>
      <a href="https://twitter.com/"
        ><img src="/public/images/트위터 아이콘.png" alt="twitter"
      /></a>
      <!-- 더 많은 아이콘 -->
    </footer>

    <!-- 필요한 스크립트 파일 불러오기 -->
    <script src="/public/js/infoupdate.js"></script>
    <script src="/public/js/login.js"></script>
    <!-- <script src="/public/js/post.js"></script> -->
  </body>
</html>
