<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/login.css" />
    <title>Chat App - Index</title>
  </head>
  <body>
    <div id="login">
      <input type="text" id="email" />
      <input type="text" id="password" />
      <button type="button" id="loginBtn">LOGIN</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/login.js"></script>
  </body>
</html>
