<!doctype html>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>Theory by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/chat.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="/public/views/index.html" class="logo">짧공</a>
        <nav id="nav">
          <a href="/public/views/login_demo.html">로그인하기</a>
          <a href="/public/views/new_chat.html">채팅하기</a>
          <a href="/public/views/index.html">홈페이지</a>
          <a href="/public/views/mypage.html">마이페이지</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <h1>짧은 공부</h1>
      <p>수정</p>
    </section>
    <!-- Two -->
    <section id="connectedUserForm" class="wrapper style1 special">
      <div class="inner">
        <button id="showEditModal" type="button">수정하기</button>
        <button type="button">튜터신청하기</button>
      </div>
    </section>
    <div id="editFormModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>회원정보수정</h2>
        <input type="text" id="emailInput" placeholder="email" />
        <input type="password" id="passwordInput" placeholder="password" />
        <input type="password" id="checkPasswordInput" placeholder="checkPassword" />
        <input type="text" id="nicknameInput" placeholder="nickname" />
        <input type="tel" id="phoneNumberInput" placeholder="phoneNumber" />
        <button id="editButton">수정하기</button>
      </div>
    </div>
    <!-- Footer -->

    <footer id="footer">
      <div class="inner">
        <div class="flex">
          <ul class="icons">
            <li>
              <a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
            </li>
            <li>
              <a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a>
            </li>
            <li>
              <a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a>
            </li>
            <li>
              <a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <div class="copyright">Site made with: <a href="https://templated.co/">TEMPLATED.CO</a></div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/skel.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/mypage.js"></script>
  </body>
</html>
