<!doctype html>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>Theory by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/chat.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="index.html" class="logo">짧공</a>
        <nav id="nav">
          <a href="index.html">Home</a>
          <a href="generic.html">Generic</a>
          <a href="elements.html">Elements</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <h1>짧은 공부</h1>
      <p>당신 마음대로 채팅이나 해보시져?</p>
    </section>
    <!-- Two -->
    <section id="connectedUserForm" class="wrapper style1 special">
      <div class="inner">
        <header>
          <h2>현재 접속한 인원</h2>
        </header>
        <div id="connectedUserList" class="flex flex-4">
          <div class="box person">
            <h3>Magna</h3>
            <button>대화하기</button>
            <button>정보보기</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Two -->
    <section id="allUserForm" class="wrapper style1 special">
      <div class="inner">
        <header>
          <h2>모든 인원</h2>
        </header>
        <div id="allUserList" class="flex flex-4"></div>
      </div>
    </section>
    <!-- 채팅창 -->
    <section class="wrapper special">
      <div id="chat" class="chat-container">
        <h3></h3>
        <div id="chatBox" class="chat-window"></div>
        <div class="input-container">
          <input type="text" id="chat-input" placeholder="메시지를 입력하세요" />
          <button id="send-button">보내기</button>
        </div>
        <button onclick="exitChatRoom()">⬅️나가기</button>
      </div>
    </section>

    <section class="wrapper style1 special">
      <div id="faceChatBtn">
        <button>화상채팅하기</button>
      </div>
    </section>

    <div id="faceChatForm" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>화상채팅 가능한 선생님</h2>
        <div id="tutorList">
          <div class="box person">
            <h3>Magna</h3>
            <button>화상대화하기</button>
            <button>채팅하기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->

    <footer id="footer">
      <div class="inner">
        <div class="flex">
          <ul class="icons">
            <li>
              <a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
            </li>
            <li>
              <a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a>
            </li>
            <li>
              <a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a>
            </li>
            <li>
              <a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <div class="copyright">Site made with: <a href="https://templated.co/">TEMPLATED.CO</a></div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/skel.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chat.js"></script>
  </body>
</html>
