<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/chat.css" />
    <title>Chat App - Index</title>
  </head>
  <body>
    <div id="tutorinfo">
      <h1>user_name</h1>
      <h3 type="text" id="user_name" ></h3>
      <h1>age</h1>
      <h3 type="text" id="age" ></h3>
      <h1>sex</h1>
      <h3 type="text" id="sex" ></h3>
      <h1>school_name</h1>
      <h3 type="text" id="school_name" ></h3>
      <h1>career</h1>
      <h3 type="text" id="career" ></h3>
      <h1>tutor_like</h1>
      <h3 type="text" id="tutor_like" ></h3>
      <h1>picture</h1>
      <h3 type="text" id="picture" ></h3>
      <h1>subject</h1>
      <h3 type="text" id="subject" ></h3>
      <h1>style</h1>
      <h3 type="text" id="style" ></h3>
      <h1>logintime</h1>
      <h3 type="text" id="logintime" ></h3>
      <button type="button" id="infoupdate_btn">나의정보수정</button>
    </div>
  </body>
  <script src="/public/js/tutorinfo.js"></script>
</html>
