<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/chat.css" />
    <title>Chat App - Index</title>
  </head>
  <body>
    <div id="signup">
      <h1>email</h1>
      <h3 type="text" id="email"></h3>
      <h1>nickname</h1>
      <h3 type="text" id="nickname"></h3>
      <h1>user_name</h1>
      <h3 type="text" id="user_name"></h3>
      <h1>phone_number</h1>
      <h3 type="text" id="phone_number"></h3>
      <h1>birth_date</h1>
      <h3 type="text" id="birth_date"></h3>
      <button type="button" id="infoupdate_btn">나의정보수정</button>
      <button type="button" id="delete_btn">탙퇴</button>
    </div>
  </body>
  <script src="/public/js/userinfo.js"></script>
</html>
