body {
  background-color: #292c36;
  color: white;
  font-family: Arial, sans-serif;
}

#roomList,
#userList,
#chat {
  background-color: #626365;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
button {
  background-color: #292c36;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

#chatWindow {
  max-height: 300px;
  overflow-y: auto;
}

#messageInput {
  margin-top: 20px;
}

#message {
  width: 70%;
  padding: 5px;
}

#sendButton {
  padding: 5px 10px;
  background-color: #505060;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
