/* Reset */
header {
  background-color: rgb(112, 159, 251);
  background-image: url('/public/images/Section\ 1\ \(2\).jpg');
  color: white;
  padding: 10px;
  text-align: right;
  width: 100%;
  height: 500px;
  justify-content: space-between;
  font-family: 'Noto Serif KR', serif;
}

main {
  background-color: #f8f0ee;
  padding: 20px;
  width: 100%;
  min-height: 100vh; /* 화면 높이만큼 최소 높이 설정 */
  font-family: 'Noto Serif KR', serif;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: grey;
}

.search-box input {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.tutor-list,
.problem-list {
  list-style: none;
  padding: 0;
}

.tutor-item,
.problem-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
}
.card img {
  width: 100%; /* 이미지를 부모 요소에 맞추기 위해 가로 너비 100%로 설정 */
  max-height: 250px; /* 이미지의 최대 높이를 설정 (선택 사항) */
  border-radius: 10px;
  margin: 10px 0; /* 이미지 위아래에 10px 여백 추가 */
  cursor: pointer;
}
.tutor-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 450px;
}

.card-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-body {
  font-size: 14px;
}

.popular-problems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tutors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  border: none;
  color: #004aad;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px; /* 버튼의 내부 여백을 조절합니다 */
  height: 40px;
  white-space: nowrap; /* 줄 바꿈 방지 */
}

button:hover {
  background-color: #004aad;
  color: white;
}
#heart {
  background-color: white;
  color: #ff471a;
  width: 50px;
  height: 50px;
}
#heart:hover {
  background-color: #ff471a;
  color: white;
}

#search {
  width: 80px;
  height: 30px;
}

#point {
  color: white;
  text-decoration: none;
}
.button-container {
  display: flex;
  justify-content: center;
  font-size: 16px;
  white-space: nowrap;
}

.button-container button {
  margin: 10px 10px; /* 좌우에만 마진을 적용 */
}

.tutor-item button {
  margin: 10px 50px;
}

.main-Btn button {
  margin: 10px 10px 10px 10px;
}

/* 이승준 */
.chat-container {
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

/* 채팅 목록 스타일 */
.chat-list {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  /* 추가적인 스타일링 요소 */
}

/* 채팅 창 스타일 */
.chat-window {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px;
  /* 추가적인 스타일링 요소 */
}

/* 입력창 및 버튼 스타일 */
.input-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

#chat-input {
  flex-grow: 1;
  padding: 5px;
}

#send-button {
  padding: 5px 10px;
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  cursor: point;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #d5d9dd;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  position: relative;
}
.modal-content h2 {
  margin-top: 0;
}
.modal-columns {
  display: flex;
  justify-content: space-between;
}

.modal-column {
  width: 48%; /* 조절 가능한 값 */
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.exit {
  position: relative; /* 위치를 절대적으로 설정합니다. */
  top: 0;
  left: 0; /* 왼쪽으로 붙이는 부분 */
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* 채팅 */

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.user-list {
  overflow-y: auto;
  flex: 1;
  background-color: #fdffe7;
  color: #5385c1;
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
  height: 600px;
}

.user-list h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #5385c1;
}

/* 채팅 스타일 */
.chat {
  flex: 2;
  background-color: #fdffe7;
  padding: 20px;
  border-radius: 10px;
}

.chat h2 {
  margin-bottom: 10px;
}

.chat-box {
  background-color: white;
  height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
}

.chat-input {
  display: flex;
  margin-top: 20px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.chat-input button {
  background-color: #e47438;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}
/* 버튼 스타일 */
.button-chat {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* 원하는 글자 크기로 조정 */
  white-space: nowrap; /* 줄 바꿈 방지 */
}

.userInterface {
  margin-bottom: 10px;
  border: 1px solid #000; /* 1px 두께의 검은색 외곽선 */
  border-radius: 5px;
  background-color: #d3d3d3; /* 조금 더 어두운 초록색 배경 */

  /* flex 컨테이너 설정 */
  display: flex;
  /* flex 아이템 간의 간격을 조절합니다. 필요에 따라 조절하세요. */
  justify-content: space-between;
  font-size: 18px;
}

/* 왼쪽 메시지 스타일 */
.left-message {
  background-color: #f0f0f0; /* 배경색 지정 */
  color: #262626; /* 텍스트 색상 지정 */
  padding: 10px; /* 내부 여백 지정 */
  border-radius: 10px; /* 모서리를 둥글게 만듭니다. */
  margin-bottom: 10px; /* 아래쪽 여백 지정 */
  max-width: 70%; /* 메시지 너비의 최대값을 설정하여 긴 메시지의 경우 자동 줄 바꿈이 일어나도록 합니다. */
  clear: both; /* float을 해제합니다. */
  float: left; /* 왼쪽으로 부유시킵니다. */
}

/* 오른쪽 메시지 스타일 */
.right-message {
  background-color: #ffeb33; /* 배경색 지정 */
  color: #262626; /* 텍스트 색상 지정 */
  padding: 10px; /* 내부 여백 지정 */
  border-radius: 10px; /* 모서리를 둥글게 만듭니다. */
  margin-bottom: 10px; /* 아래쪽 여백 지정 */
  max-width: 70%; /* 메시지 너비의 최대값을 설정하여 긴 메시지의 경우 자동 줄 바꿈이 일어나도록 합니다. */
  clear: both; /* float을 해제합니다. */
  float: right; /* 오른쪽으로 부유시킵니다. */
}

/* 공지 메시지 스타일 */
.notice-message {
  background-color: #607488; /* 배경색 지정 */
  color: #262626; /* 텍스트 색상 지정 */
  padding: 10px; /* 내부 여백 지정 */
  border-radius: 10px; /* 모서리를 둥글게 만듭니다. */
  margin-bottom: 10px; /* 아래쪽 여백 지정 */
  max-width: 70%; /* 메시지 너비의 최대값을 설정하여 긴 메시지의 경우 자동 줄 바꿈이 일어나도록 합니다. */
  clear: both; /* float을 해제합니다. */
  float: none;
  text-align: center; /* 가운데 정렬 */
}

.createdAt {
  font-size: 12px; /* createdAt 스타일 */
  color: #888; /* 원하는 색상 지정 */
  display: block; /* 블록 요소로 설정하여 메시지 아래에 위치 */
  margin-top: 2px; /* 원하는 상단 여백 지정 */
}
/* 이승준 */
.chat-container {
  /* display: flex; */
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

/* 채팅 목록 스타일 */
.chat-list {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  /* 추가적인 스타일링 요소 */
}

/* 채팅 창 스타일 */
.chat-window {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px;
  /* 추가적인 스타일링 요소 */
}

/* 입력창 및 버튼 스타일 */
.input-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

#chat-input {
  flex-grow: 1;
  padding: 5px;
}

#send-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: point;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 300px;
  justify-self: center;
  background-color: bisque;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.post-card img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}
.container {
  display: flex;
  justify-content: flex-end; /* 부모 컨테이너를 오른쪽으로 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.search {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
}

.search label {
  font-size: 25px;
}

.search input {
  margin-left: 20px;
  min-width: 200px;
  padding: 5px 10px;
}

.search button {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.sort {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  margin-left: auto; /* 나머지 공간을 차지하도록 왼쪽 마진을 auto로 설정 */
}

.sort button {
  width: 50px;
  margin-left: 10px;
  padding: 3px;
  cursor: pointer;
}

/* 모달 백드롭 에러 해결 */
.modal-backdrop {
  z-index: 0;
}
